<template>
  <button class="ui-burger ui-burger--htx" @click="toggle" :class="{'is-active': value}">
    <span>toggle menu</span>
  </button>
</template>

<script>
  export default {
    name: 'ui-burger',
    props: {
      value: { type: Boolean, default: false }
    },
    data() {
      return { isActive: this.value };
    },
    methods: {
      toggle() {
        this.$emit('toggle');
      }
    }
  };
</script>

<style lang="scss" src="./Burger.scss"></style>
