/* -----------------------------------------------------------------------------
  HAMBURGER ICONS COMPONENT
  http://callmenick.com/_development/css-hamburger-menu-icons/
----------------------------------------------------------------------------- */

// vars
$button-width: 40px;                    // The width of the button area
$button-height: 40px;                   // The height of the button area
$bar-thickness: 3px;                    // The thickness of the button bars
$button-pad: 8px;                      // The left/right padding between button area and bars.
$button-bar-space: 6px;                 // The spacing between button bars
$button-transistion-duration: 0.2s;     // The transition duration
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.ui-burger {
  background: transparent;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: all $button-transistion-duration ease-in-out;

  &:focus {
    outline: none;
  }

  & > span {
    display: block;
    position: absolute;
    top: ($button-height / 2) - ($bar-thickness / 2);
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: $black-9;
  }

  & > span::before,
  & > span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $bar-thickness;
    background-color: $black-9;
    content: "";
  }

  & > span::before {
    top: -$bar-thickness - $button-bar-space;
  }

  & > span::after {
    bottom: -$bar-thickness - $button-bar-space;
  }

}

/**
 * Style 1
 *
 * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
 * Nothing too fancy, simple transition.
 */

.ui-burger--rot {
  span { transition: transform $button-transistion-duration; }
  &.is-active span { transform: rotate(90deg); }
}



/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.ui-burger--htx {
  span { transition: background 0s $button-transistion-duration; }
  span::before,
  span::after {
    transition-duration: $button-transistion-duration, $button-transistion-duration;
    transition-delay: $button-transistion-duration, 0s;
  }
  span::before { transition-property: top, transform; }
  span::after { transition-property: bottom, transform; }
}
.ui-burger--htx.is-active {
  span { background: none; }
  span::before,
  span::after { transition-delay: 0s, $button-transistion-duration; }
  span::before { top: 0; transform: rotate(45deg); }
  span::after { bottom: 0; transform: rotate(-45deg); }
}

/**
 * Style 3
 *
 * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing
 * arrow. Usually indicates an off canvas menu sliding in from left that
 * will be close on re-click of the icon.
 */

.ui-burger--htla {
  span { transition: transform $button-transistion-duration; }
  span::before {
    transform-origin: top right;
    transition: transform $button-transistion-duration, width $button-transistion-duration, top $button-transistion-duration;
  }
  span::after {
    transform-origin: bottom right;
    transition: transform $button-transistion-duration, width $button-transistion-duration, bottom $button-transistion-duration;
  }
}

.ui-burger--htla.is-active {
  span { transform: rotate(180deg); }
  span::before,
  span::after { width: 50%; }
  span::before {
    top: 0;
    transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY($bar-thickness/2) rotate(45deg);
  }
  span::after {
    bottom: 0;
    transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY(-$bar-thickness/2) rotate(-45deg);
  }
}

/**
 * Style 4
 *
 * Hamburger to right-arrow (htra). Hamburger menu transforms to a
 * right-pointing arrow. Usually indicates an off canvas menu sliding in from
 * right that will be close on re-click of the icon.
 */

.ui-burger--htra {
  span { transition: transform $button-transistion-duration; }
  span::before {
    transform-origin: top left;
    transition: transform $button-transistion-duration, width $button-transistion-duration, top $button-transistion-duration;
  }
  span::after {
    transform-origin: bottom left;
    transition: transform $button-transistion-duration, width $button-transistion-duration, bottom $button-transistion-duration;
  }
}
.ui-burger--htra.is-active {
  span { transform: rotate(180deg); }
  span::before,
  span::after { width: 50%; }
  span::before {
    top: 0;
    transform: translateX(-$bar-thickness) translateY($bar-thickness/2) rotate(-45deg);
  }
  span::after {
    bottom: 0;
    transform: translateX(-$bar-thickness) translateY(-$bar-thickness/2) rotate(45deg);
  }
}
