<template>
  <div class="lightbox-preview" @click="openLightbox">
    <slot></slot>
  </div>
</template>

<script>
  import cuid from 'cuid';
  import LightboxStore from './LightboxStore';

  export default {
    name: 'lightbox-preview',
    props: {
      image: Object,
      gallery: String
    },
    data() {
      return {
        elementId: cuid()
      };
    },
    methods: {
      registerElement() {
        LightboxStore.registerElement(this.elementId, {
          image: this.image
        });
        if (this.gallery) {
          LightboxStore.registerGallery(this.gallery);
          LightboxStore.addElementInGallery(this.gallery, this.elementId);
        }
      },
      openLightbox() {
        LightboxStore.show(this.elementId);
      }
    },
    mounted() {
      this.registerElement();
    }
  };
</script>
