<template>
  <transition name="fade">
    <div class="lightbox" v-show="store.show">
      <div class="lightbox__overlay"></div>
      <div class="lightbox__close" @click="closeLightbox">
        <ui-icon icon="close" />
      </div>
      <div class="lightbox__content"></div>
    </div>
  </transition>
</template>

<script>
import LightboxStore from './LightboxStore';

export default {
  name: 'lightbox',
  data() {
    return { store: LightboxStore.state };
  },
  methods: {
    closeLightbox() {
      LightboxStore.hide();
    },
    onImageLoad(e) {
      const image = e.target;
      const width = image.width;
      const height = image.height;
      this.contentElement.appendChild(image);
      this.contentElement.style.width = `${width}px`;
      this.contentElement.style.height = `${height}px`;
    }
  },
  mounted() {
    this.contentElement = this.$el.querySelector('.lightbox__content');
  },
  destroyed() {
    this.imageElement.removeEventListener('load', this.onImageLoad);
  }
};
</script>

<style lang="scss" src="./Lightbox.scss"></style>
