$overlay-background: rgba(#222, 0.95);
$content-background: rgba(#fff, 0.95);
$controls-color: rgba(#fff, .95);

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $overlay-background;
}

.lightbox__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  .icon {
    font-size: 2rem;
    color: $controls-color;
  }
}

.lightbox__content {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: $content-background;
  transition: height .2s ease-in-out, width .2s ease-in-out;
  img {
    width: 100%;
    height: auto;
  }
}
