<template>
  <i class="icon" :class="name"></i>
</template>

<script>
  export default {
    name: 'ui-icon',
    props: {
      'icon': {
        type: String,
        required: true
      }
    },
    data() {
      return {
        name: '',
      };
    },
    mounted() {
      const i = this.icon.split(':');
      if (i.length === 1) {
        this.name = i[0];
      } else if (i.length === 2) {
        this.name = i[0];
        this.$el.style.fontSize = `${i[1]}px`;
      }
    }
  };
</script>

<style lang="scss" src="./Icon.scss"></style>
