<template>
  <div id="app">
    <div class="images">
      <lightbox-preview v-for="n in 4" class="preview" gallery="test" :image="{ path: `http://lorempicsum.com/simpsons/1280/768/${n}` }">
        <img :src="`http://lorempicsum.com/simpsons/300/300/${n}`">
      </lightbox-preview>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  mounted() {

  }
};
</script>

<style>
  body {
    margin: 0;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .images {
    display: flex;
  }
  .preview {
    display: inline-flex;
    flex: 1 1 auto;
    width: auto;
    padding: 16px;
    height: auto;
    overflow: hidden;
  }
</style>
